*{
    margin:0px;
    padding: 0px;
}
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
#container{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}
#header{
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    position: relative;
}
#locition{
    position: absolute;
    padding: 15px;
    left: 10%;
}
#locition .p1{
    font-family: Arial, Helvetica, sans-serif;
}
#phoneNumber{
    position: absolute;
    padding: 15px;
    left: 75%;
}
#lang{
    position: absolute;
    padding: 15px;
    left: 90%;
}
#lang select {
    background-color: red;
    color: white;
    border: none;
}
#lang option {
    background-color: white;
    color: black;
}
#logo{
    background-color: white;
    box-shadow: 1px 1px 1px 0 black;
    position: relative;
    top: 100%;
    width: 98.10%;
    height: 100%;
    color: black;
    padding: 15px;
}
#logo h1{
    position: absolute;
    left: 11%;
}
#logo span {
    background-color: red;
    color: white;
}
#category{
    position: relative;
    width: 100%;
    height: 100%;
    left: 21%;
}
.Kategoriya{
    position: absolute;
    width: 10%;
    height: 90%;
    top: -36%;
    border: none;
    background-color: red;
    color: white;
}
@media ((min-width:400px) and (max-width:1400px)){
    .Kategoriya{
    position: absolute;
    width: 5%;
    height: 90%;
    top: -30%;
    left: 5%;
    border: none;
    background-color: red;
    color: white;
}
}
.Kategoriya:hover{
    box-shadow: 1px 5px 10px 0 red;
}
#form{
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    left: 33%;
}
#form #inp{
    width: 30%;
    height: 30px;
    position: absolute;
    top: -30%;
}
.inpBtn{
    width: 10%;
    position: absolute;
    left: 32%;
    height: 34px;
    top: -30%;
    background-color: red;
    color: white;
    border: none;
}
.inpBtn:hover{
box-shadow: 1px 5px 10px 0 red;
}

nav{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
}
a{
  text-decoration: none;
  color: black;
  position:relative;
  padding: 0 10px;
  left: -7.70%;
  top: -5px;
}
#categoryMenyu{
    display: none;
    position: absolute;  
    top: 110px;
    height: 50%;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    box-shadow: 1xp 1px 0px 0px black;
}
#menyuBtn{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    position: relative;
    left: 11%;
}
#Btexnika{
    width:200px;
    height: 30px;
    background-color: white;
    border: none;
    padding: 10px   ;
    display: flex;
    justify-content: start;
}
#Btexnika:hover{
    background-color: red;
    color: white;

}
#closeBtnDiv{
    position: relative;
    top: -128.30%;
    left: 76%;
}
#closeBtn{
    width: 40px;
    height: 36px;
    background-color: red;
    color: white;
    border: none;
}